@import "../../scss-library/library.scss";

/* Responsive Styles */
@media screen and (max-width: 400px) {

    .screen
    {
        margin-top:0px !important;
        height:100px !important;
        width:640px !important;
        margin-left:0px;
    }

    .screen-wrapper
    {
        width: 779px !important;
    }
    
    .pins-wrapper
    {
        margin-top: 150px !important;
    }

    .play-board
    {
        margin-top: 504px !important;
    }

    .frame-wrapper{
        width: 62px !important;
        height: 81px !important;
    }
    
    .frame-ab-wrapper{
        width: 58px !important;
        height: 28px !important;
    }

    .frame-throw
    {
        font-size:1.5em !important;
        width: 24px !important;
        height: 29px !important;
    }

    .frame-index
    {
        height: 18px !important;
        line-height: 18px !important;
    }

    .frame-total
    {
        font-size:1.5em !important;
    }

    .total
    {
        margin-top:0px !important;
        top:-48px !important;
    }
}

.screen-wrapper
{
	width: 600px;
	display: block;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	height: 89px;
}

.screen
{
	width:470px;
    height: 52px;
	background-color: black;
    margin-top: 28px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid white;
    color: $primary;
    overflow: hidden;
    padding: 2px;
}

.total
{
    width: 100px;
    height:50px;
    line-height:50px;
    background-color: black;
    margin-top: 28px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 2px solid $primary;
	color: $primary;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    margin-left: 10px;
    top: -18px;
}

.frame-wrapper
{
    width: 45px;
    height: 52px;
    overflow: hidden;
    display: inline-block;
    background-color: #3a3131;
    border-radius: 5px;
    margin-right:2px;
}

.closed
{
    background-color:$closed-background;
}

.frame-index
{
	text-align:center;
    height: 16px;
    line-height: 15px;
	color:white;
}

.frame-points-wrapper
{
}

.frame-ab-wrapper
{
    display: block;
    margin-left: auto;
    width: 44px;
    height: 15px;
}

.frame-throw
{
    text-align: center;
    width: 19px;
    height: 17px;
    display: inline-block;
    border: 1px solid gray;
}

.frame-total-wrapper
{
	margin-top: 4px;
	text-align:center;
}

.frame-total
{
	font-weight:bold;
}