/* Responsive Styles */

@media screen and (max-width: 400px) {

	.bowling-alley-wrapper
	{
    	width: 788px !important;
    	height: 1055px !important;
	}

}

.bowling-alley-wrapper
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 788px;
	height: 850px;
	background:url('/assets/images/bowling.png');
	background-repeat: no-repeat;
  	background-size: cover;
}





